body{
    background-image: url(../img/diamond_upholstery_@2X.png);


}

h1{
    color: rgb(44, 51, 53);
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

